.col-md-11 {
	text-align: center;
}

#triviaContainer {
	height: 600px;
	margin: 25px auto 25px auto;
	width: 80%;
	background-color: darkblue;
	color: white;
}

#pageHeader {
	height: 18%;
	font-size: xx-large;
}

#timeRemaining {
	height: 18%;
	font-size: x-large;
}

#messageArea {
	height: 18%;
	font-size: large;
}

#answersArea {
	height: 41%;
}

#nextQ {
	margin-left: 20px;
}

body {
	background-color: black;
	text-align: center;
}